<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 开发平台-标签管理 -->
<mapper namespace="com.mes.control.mapper.DpLabelMapper">
	<resultMap type="com.mes.entity.control.DpLabel" id="dpLabelResultMap">
		<result column="id" property="id" jdbcType="VARCHAR"/>
		<result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
		<result column="description" property="description" jdbcType="VARCHAR"/>
		<result column="pd_id" property="pdId" jdbcType="VARCHAR"/>
		<result column="type" property="type" jdbcType="VARCHAR"/>
		<result column="generation" property="generation" jdbcType="VARCHAR"/>
		<result column="template_order" property="templateOrder" jdbcType="VARCHAR"/>
		<result column="template_path" property="templatePath" jdbcType="VARCHAR"/>
		<result column="function_type_id" property="functionTypeId" jdbcType="VARCHAR"/>
		<result column="function_id" property="functionId" jdbcType="VARCHAR"/>
		<result column="instruction_path" property="instructionPath" jdbcType="VARCHAR"/>
		<result column="image" property="image" jdbcType="BLOB"/>
		<result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
		<result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
		<association column="pd_id" property="pdName" select="getPdName" javaType="java.lang.String"/>
		<association column="type_id" property="typeName" select="getTypeName" javaType="java.lang.String"/>
		<association column="function_type_id" property="functionTypeName" select="getFunctionTypeName" javaType="java.lang.String"/>
		<association column="function_id" property="functionName" select="getFunctionName" javaType="java.lang.String"/>
	</resultMap>

	<select id="findById" resultMap="dpLabelResultMap">
		<include refid="sql_select"/>
		where s.id = #{id}
	</select>

	<!--查询产品名称-->
	<select id="getPdName" resultType="java.lang.String">
		SELECT p.`name` FROM mes_pd p  where p.id = #{value}
	</select>

	<!--getTypeName-->
	<select id="getTypeName" resultType="java.lang.String">
		SELECT t.`name` FROM mes_dp_barcode_type t where t.id = #{value}
	</select>

	<!--getFunctionTypeName-->
	<select id="getFunctionTypeName" resultType="java.lang.String">
		SELECT t.`name` FROM mes_dp_function_type t where t.id = #{value}
	</select>

	<!--getFunctionName-->
	<select id="getFunctionName" resultType="java.lang.String">
		SELECT t.`name` FROM mes_dp_function t where t.id = #{value}
	</select>

	<!--新增操作 -->
	<insert id="save" parameterType="com.mes.entity.control.DpLabel">
        insert into mes_dp_label
        (id,name,code,description,pd_id,type,generation,template_order,template_path,function_type_id,function_id,instruction_path,image,create_date,update_date)
        values
        (#{id},#{name},#{code},#{description},#{pdId},#{type},#{generation},#{templateOrder},#{templatePath},#{functionTypeId},#{functionId},#{instructionPath},#{image},#{createDate},#{updateDate})
	</insert>

	<!--更新操作-->
	<update id="update" parameterType="com.mes.entity.control.DpLabel">
		update mes_dp_label s <include refid="sql_update"/> where s.id = #{id}
	</update>

	<!--根据id删除-->
	<delete id="deleteById" parameterType="java.lang.String">
		delete from mes_dp_label where id =#{id}
	</delete>

	<!--获取数据条数-->
	<select id="getCount" parameterType="java.util.Map" resultType="int">
		select count(1) from mes_dp_label t <include refid="sql_where_and_equal"/>
	</select>

	<!--分页查询-->
	<select id="findByPage" parameterType="java.util.Map" resultMap="dpLabelResultMap">
		<include refid="sql_select"/> <include refid="sql_where_and_equal"/> order by s.create_date desc limit #{startRowNum},#{pageSize}
	</select>

	<!--根据条件查询-->
	<select id="findByMap" parameterType="java.util.Map" resultMap="dpLabelResultMap">
		<include refid="sql_select"/> <include refid="sql_where_and_equal"/> order by s.create_date desc
	</select>

	<select id="findByTypeId" resultMap="dpLabelResultMap">
		<include refid="sql_select"/> WHERE s.type_id=#{typeId}
	</select>
	<!--查询所有-->
	<select id="findAll" resultMap="dpLabelResultMap">
		<include refid="sql_select"/> <include refid="sql_where_and_equal"/> order by s.create_date desc
	</select>

	<!--根据产品和标签code查询-->
	<select id="findByPdAndCode" resultMap="dpLabelResultMap">
		<include refid="sql_select"/>
		WHERE s.pd_id=#{0} and s.code=#{1}
	</select>

	<!--查询字段-->
	<sql id="sql_select">
        SELECT
        id,name,code,description,pd_id,type,generation,template_order,template_path,function_type_id,function_id,instruction_path,image,create_date,update_date
        from mes_dp_label s
	</sql>

	<!--查询条件-->
	<sql id="sql_where_and_equal">
		<where>
			<if test="search != null and search != '' ">
				and (
				name like CONCAT('%', #{search}, '%')
				or generation like CONCAT('%', #{search}, '%')
				or template_order like CONCAT('%', #{search}, '%')
				or description like CONCAT('%', #{search}, '%')
				)
			</if>
			<if test="name != null  and name != '' ">
				<![CDATA[
					and name = #{name}
				]]>
            </if>
            <if test="code != null  and code != '' ">
                <![CDATA[
					and code = #{code}
				]]>
            </if>
			<if test="description != null  and description != '' ">
				<![CDATA[
					and description = #{description}
				]]>
			</if>
			<if test="pdId != null  and pdId != '' ">
				<![CDATA[
					and pd_id = #{pdId}
				]]>
			</if>
			<if test="type != null  and type != '' ">
				<![CDATA[
					and type = #{type}
				]]>
			</if>
			<if test="generation != null  and generation != '' ">
				<![CDATA[
					and generation = #{generation}
				]]>
			</if>
			<if test="templateOrder != null  and templateOrder != '' ">
				<![CDATA[
					and template_order = #{templateOrder}
				]]>
			</if>
			<if test="templatePath != null  and templatePath != '' ">
				<![CDATA[
					and template_path = #{templatePath}
				]]>
			</if>
			<if test="functionTypeId != null  and functionTypeId != '' ">
				<![CDATA[
					and function_type_id = #{functionTypeId}
				]]>
			</if>
			<if test="functionId != null  and functionId != '' ">
				<![CDATA[
					and function_id = #{functionId}
				]]>
			</if>
			<if test="instructionPath != null  and instructionPath != '' ">
				<![CDATA[
					and instruction_path = #{instructionPath}
				]]>
			</if>
			<if test="image != null  and image != '' ">
				<![CDATA[
					and image = #{image}
				]]>
			</if>
			<if test="createDate != null  and createDate != '' ">
				<![CDATA[
					and create_date = #{createDate}
				]]>
			</if>
			<if test="updateDate != null  and updateDate != '' ">
				<![CDATA[
					and update_date = #{updateDate}
				]]>
			</if>
		</where>
	</sql>

	<!--查询条件-->
	<sql id="sql_where_or_equal">
		<where>
			<if test="template != null  and template != '' ">
				<![CDATA[
					or template = #{template}
				]]>
			</if>
			<if test="image != null  and image != '' ">
				<![CDATA[
					or image = #{image}
				]]>
			</if>
			<if test="pdId != null  and pdId != '' ">
				<![CDATA[
					or pd_id = #{pdId}
				]]>
			</if>
			<if test="type != null  and type != '' ">
				<![CDATA[
					or type = #{type}
				]]>
			</if>
			<if test="name != null  and name != '' ">
				<![CDATA[
					or name = #{name}
				]]>
			</if>
			<if test="description != null  and description != '' ">
				<![CDATA[
					or description = #{description}
				]]>
			</if>
			<if test="createDate != null  and createDate != '' ">
				<![CDATA[
					or create_date = #{createDate}
				]]>
			</if>
			<if test="updateDate != null  and updateDate != '' ">
				<![CDATA[
					or update_date = #{updateDate}
				]]>
			</if>
		</where>
	</sql>

	<!--查询条件-->
	<sql id="sql_where_and_like">
		<where>
			<if test="template != null  and template != '' ">
				<![CDATA[
					and template like CONCAT('%', #{template}, '%')
				]]>
			</if>
			<if test="image != null  and image != '' ">
				<![CDATA[
					and image like CONCAT('%', #{image}, '%')
				]]>
			</if>
			<if test="pdId != null  and pdId != '' ">
				<![CDATA[
					and pd_id like CONCAT('%', #{pdId}, '%')
				]]>
			</if>
			<if test="type != null  and type != '' ">
				<![CDATA[
					and type like CONCAT('%', #{type}, '%')
				]]>
			</if>
			<if test="name != null  and name != '' ">
				<![CDATA[
					and name like CONCAT('%', #{name}, '%')
				]]>
			</if>
			<if test="description != null  and description != '' ">
				<![CDATA[
					and description like CONCAT('%', #{description}, '%')
				]]>
			</if>
			<if test="createDate != null  and createDate != '' ">
				<![CDATA[
					and create_date like CONCAT('%', #{createDate}, '%')
				]]>
			</if>
			<if test="updateDate != null  and updateDate != '' ">
				<![CDATA[
					and update_date like CONCAT('%', #{updateDate}, '%')
				]]>
			</if>
		</where>
	</sql>

	<!--查询条件-->
	<sql id="sql_where_or_like">
		<where>
			<if test="template != null  and template != '' ">
				<![CDATA[
					or template like CONCAT('%', #{template}, '%')
				]]>
			</if>
			<if test="image != null  and image != '' ">
				<![CDATA[
					or image like CONCAT('%', #{image}, '%')
				]]>
			</if>
			<if test="pdId != null  and pdId != '' ">
				<![CDATA[
					or pd_id like CONCAT('%', #{pdId}, '%')
				]]>
			</if>
			<if test="type != null  and type != '' ">
				<![CDATA[
					or type like CONCAT('%', #{type}, '%')
				]]>
			</if>
			<if test="name != null  and name != '' ">
				<![CDATA[
					or name like CONCAT('%', #{name}, '%')
				]]>
			</if>
			<if test="description != null  and description != '' ">
				<![CDATA[
					or description like CONCAT('%', #{description}, '%')
				]]>
			</if>
			<if test="createDate != null  and createDate != '' ">
				<![CDATA[
					or create_date like CONCAT('%', #{createDate}, '%')
				]]>
			</if>
			<if test="updateDate != null  and updateDate != '' ">
				<![CDATA[
					or update_date like CONCAT('%', #{updateDate}, '%')
				]]>
			</if>
		</where>
	</sql>

	<!--更新操作-->
	<sql id="sql_update">
		<set>
			<if test="name != null  and name != '' ">
				<![CDATA[
					name = #{name},
				]]>
			</if>
			<if test="description != null  and description != '' ">
				<![CDATA[
					description = #{description},
				]]>
			</if>
			<if test="pdId != null  and pdId != '' ">
				<![CDATA[
					pd_id = #{pdId},
				]]>
			</if>
			<if test="type != null  and type != '' ">
				<![CDATA[
					type = #{type},
				]]>
			</if>
			<if test="generation != null  and generation != '' ">
				<![CDATA[
					generation = #{generation},
				]]>
			</if>
			<if test="templateOrder != null  and templateOrder != '' ">
				<![CDATA[
					template_order = #{templateOrder},
				]]>
			</if>
			<if test="templatePath != null  and templatePath != '' ">
				<![CDATA[
					template_path = #{templatePath},
				]]>
			</if>
			<if test="functionTypeId != null  and functionTypeId != '' ">
				<![CDATA[
					function_type_id = #{functionTypeId},
				]]>
			</if>
			<if test="functionId != null  and functionId != '' ">
				<![CDATA[
					function_id = #{functionId},
				]]>
			</if>
			<if test="instructionPath != null  and instructionPath != '' ">
				<![CDATA[
					instruction_path = #{instructionPath},
				]]>
			</if>
			<if test="image != null  and image != '' ">
				<![CDATA[
					image = #{image},
				]]>
			</if>
			<if test="createDate != null  and createDate != '' ">
				<![CDATA[
					create_date = #{createDate},
				]]>
			</if>
			<if test="updateDate != null  and updateDate != '' ">
				<![CDATA[
					update_date = #{updateDate},
				]]>
            </if>
            <if test="code != null  and code != '' ">
                <![CDATA[
					code = #{code},
				]]>
            </if>
		</set>
	</sql>
</mapper>
