<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 开发平台-设备配置-工序-设备附件 -->
<mapper namespace="com.mes.control.mapper.DpProduceProcessDeviceAnnexMapper">
	<resultMap type="com.mes.entity.control.DpProduceProcessDeviceAnnex" id="dpProduceProcessDeviceAnnexResultMap">
		<result column="id" property="id" jdbcType="VARCHAR"/>
		<result column="produce_process_id" property="produceProcessId" jdbcType="VARCHAR"/>
		<result column="device_annex_id" property="deviceAnnexId" jdbcType="VARCHAR"/>
		<result column="device_annex_info_id" property="deviceAnnexInfoId" jdbcType="VARCHAR"/>
		<result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
	</resultMap>

	<select id="findById" resultMap="dpProduceProcessDeviceAnnexResultMap">
		<include refid="sql_select"/>
		where s.id = #{id}
	</select>

	<!--新增操作 -->
	<insert id="save" parameterType="com.mes.entity.control.DpProduceProcessDeviceAnnex">
		insert into mes_dp_produce_process_device_annex (id,produce_process_id,device_annex_id,device_annex_info_id,create_date)
		values (#{id},#{produceProcessId},#{deviceAnnexId},#{deviceAnnexInfoId},#{createDate})
	</insert>

	<!--更新操作-->
	<update id="update" parameterType="com.mes.entity.control.DpProduceProcessDeviceAnnex">
		update mes_dp_produce_process_device_annex s <include refid="sql_update"/> where s.id = #{id}
	</update>

	<!--根据id删除-->
	<delete id="deleteById" parameterType="java.lang.String">
		delete from mes_dp_produce_process_device_annex where id =#{id}
	</delete>

	<!--获取数据条数-->
	<select id="getCount" parameterType="java.util.Map" resultType="int">
		select count(1) from mes_dp_produce_process_device_annex t <include refid="sql_where_and_equal"/>
	</select>

	<!--分页查询-->
	<select id="findByPage" parameterType="java.util.Map" resultMap="dpProduceProcessDeviceAnnexResultMap">
		<include refid="sql_select"/> <include refid="sql_where_and_equal"/> order by s.create_date desc limit #{startRowNum},#{pageSize}
	</select>

	<!--根据条件查询-->
	<select id="findByMap" parameterType="java.util.Map" resultMap="dpProduceProcessDeviceAnnexResultMap">
		<include refid="sql_select"/> <include refid="sql_where_and_equal"/> order by s.create_date desc
	</select>

	<!--查询所有-->
	<select id="findAll" resultMap="dpProduceProcessDeviceAnnexResultMap">
		<include refid="sql_select"/> <include refid="sql_where_and_equal"/> order by s.create_date desc
	</select>

	<!--查询字段-->
	<sql id="sql_select">
		SELECT id,produce_process_id,device_annex_id,device_annex_info_id,create_date from mes_dp_produce_process_device_annex s
	</sql>

	<!--查询条件-->
	<sql id="sql_where_and_equal">
		<where>
			<if test="produceProcessId != null  and produceProcessId != '' ">
				<![CDATA[
					and produce_process_id = #{produceProcessId}
				]]>
			</if>
			<if test="deviceAnnexId != null  and deviceAnnexId != '' ">
				<![CDATA[
					and device_annex_id = #{deviceAnnexId}
				]]>
			</if>
			<if test="deviceAnnexInfoId != null  and deviceAnnexInfoId != '' ">
				<![CDATA[
					and device_annex_info_id = #{deviceAnnexInfoId}
				]]>
			</if>
			<if test="createDate != null  and createDate != '' ">
				<![CDATA[
					and create_date = #{createDate}
				]]>
			</if>
		</where>
	</sql>

	<!--查询条件-->
	<sql id="sql_where_or_equal">
		<where>
			<if test="produceProcessId != null  and produceProcessId != '' ">
				<![CDATA[
					or produce_process_id = #{produceProcessId}
				]]>
			</if>
			<if test="deviceAnnexId != null  and deviceAnnexId != '' ">
				<![CDATA[
					or device_annex_id = #{deviceAnnexId}
				]]>
			</if>
			<if test="deviceAnnexInfoId != null  and deviceAnnexInfoId != '' ">
				<![CDATA[
					or device_annex_info_id = #{deviceAnnexInfoId}
				]]>
			</if>
			<if test="createDate != null  and createDate != '' ">
				<![CDATA[
					or create_date = #{createDate}
				]]>
			</if>
		</where>
	</sql>

	<!--查询条件-->
	<sql id="sql_where_and_like">
		<where>
			<if test="produceProcessId != null  and produceProcessId != '' ">
				<![CDATA[
					and produce_process_id like CONCAT('%', #{produceProcessId}, '%')
				]]>
			</if>
			<if test="deviceAnnexId != null  and deviceAnnexId != '' ">
				<![CDATA[
					and device_annex_id like CONCAT('%', #{deviceAnnexId}, '%')
				]]>
			</if>
			<if test="deviceAnnexInfoId != null  and deviceAnnexInfoId != '' ">
				<![CDATA[
					and device_annex_info_id like CONCAT('%', #{deviceAnnexInfoId}, '%')
				]]>
			</if>
			<if test="createDate != null  and createDate != '' ">
				<![CDATA[
					and create_date like CONCAT('%', #{createDate}, '%')
				]]>
			</if>
		</where>
	</sql>

	<!--查询条件-->
	<sql id="sql_where_or_like">
		<where>
			<if test="produceProcessId != null  and produceProcessId != '' ">
				<![CDATA[
					or produce_process_id like CONCAT('%', #{produceProcessId}, '%')
				]]>
			</if>
			<if test="deviceAnnexId != null  and deviceAnnexId != '' ">
				<![CDATA[
					or device_annex_id like CONCAT('%', #{deviceAnnexId}, '%')
				]]>
			</if>
			<if test="deviceAnnexInfoId != null  and deviceAnnexInfoId != '' ">
				<![CDATA[
					or device_annex_info_id like CONCAT('%', #{deviceAnnexInfoId}, '%')
				]]>
			</if>
			<if test="createDate != null  and createDate != '' ">
				<![CDATA[
					or create_date like CONCAT('%', #{createDate}, '%')
				]]>
			</if>
		</where>
	</sql>

	<!--更新操作-->
	<sql id="sql_update">
		<set>
			<if test="produceProcessId != null  and produceProcessId != '' ">
				<![CDATA[
					produce_process_id = #{produceProcessId},
				]]>
			</if>
			<if test="deviceAnnexId != null  and deviceAnnexId != '' ">
				<![CDATA[
					device_annex_id = #{deviceAnnexId},
				]]>
			</if>
			<if test="deviceAnnexInfoId != null  and deviceAnnexInfoId != '' ">
				<![CDATA[
					device_annex_info_id = #{deviceAnnexInfoId},
				]]>
			</if>
			<if test="createDate != null  and createDate != '' ">
				<![CDATA[
					create_date = #{createDate},
				]]>
			</if>
		</set>
	</sql>
</mapper>
