<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 设备管理-设备-工序-附件 -->
<mapper namespace="com.mes.control.mapper.FtyDeviceProcessAnnexAssociationMapper">
	<resultMap type="com.mes.entity.control.FtyDeviceProcessAnnexAssociation" id="ftyDeviceProcessAnnexAssociationResultMap">
		<result column="id" property="id" jdbcType="VARCHAR"/>
		<result column="device_process_annex_id" property="deviceProcessAnnexId" jdbcType="VARCHAR"/>
		<result column="device_annex_info_id" property="deviceAnnexInfoId" jdbcType="VARCHAR"/>
		<result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
		<result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
	</resultMap>

	<select id="findById" resultMap="ftyDeviceProcessAnnexAssociationResultMap">
		<include refid="sql_select"/>
		where s.id = #{id}
	</select>

	<!--新增操作 -->
	<insert id="save" parameterType="com.mes.entity.control.FtyDeviceProcessAnnexAssociation">
		insert into mes_fty_device_process_annex_association (id,device_process_annex_id,device_annex_info_id,create_date)
		values (#{id},#{deviceProcessAnnexId},#{deviceAnnexInfoId},#{createDate})
	</insert>

	<!--更新操作-->
	<update id="update" parameterType="com.mes.entity.control.FtyDeviceProcessAnnexAssociation">
		update mes_fty_device_process_annex_association s <include refid="sql_update"/> where s.id = #{id}
	</update>

	<!--根据id删除-->
	<delete id="deleteById" parameterType="java.lang.String">
		delete from mes_fty_device_process_annex_association where id =#{id}
	</delete>

	<!--获取数据条数-->
	<select id="getCount" parameterType="java.util.Map" resultType="int">
		select count(1) from mes_fty_device_process_annex_association t <include refid="sql_where_and_equal"/>
	</select>

	<!--分页查询-->
	<select id="findByPage" parameterType="java.util.Map" resultMap="ftyDeviceProcessAnnexAssociationResultMap">
		<include refid="sql_select"/> <include refid="sql_where_and_equal"/> order by s.create_date desc limit #{startRowNum},#{pageSize}
	</select>

	<!--根据条件查询-->
	<select id="findByMap" parameterType="java.util.Map" resultMap="ftyDeviceProcessAnnexAssociationResultMap">
		<include refid="sql_select"/> <include refid="sql_where_and_equal"/> order by s.create_date desc
	</select>

	<!--查询所有-->
	<select id="findAll" resultMap="ftyDeviceProcessAnnexAssociationResultMap">
		<include refid="sql_select"/> <include refid="sql_where_and_equal"/> order by s.create_date desc
	</select>

	<!--查询字段-->
	<sql id="sql_select">
		SELECT id,device_process_annex_id,device_annex_info_id,create_date from mes_fty_device_process_annex_association s
	</sql>

	<!--查询条件-->
	<sql id="sql_where_and_equal">
		<where>
			<if test="deviceProcessAnnexId != null  and deviceProcessAnnexId != '' ">
				<![CDATA[
					and device_process_annex_id = #{deviceProcessAnnexId}
				]]>
			</if>
			<if test="deviceAnnexInfoId != null  and deviceAnnexInfoId != '' ">
				<![CDATA[
					and device_annex_info_id = #{deviceAnnexInfoId}
				]]>
			</if>
		</where>
	</sql>

	<!--查询条件-->
	<sql id="sql_where_or_equal">
		<where>
			<if test="deviceProcessAnnexId != null  and deviceProcessAnnexId != '' ">
				<![CDATA[
					or device_process_annex_id = #{deviceProcessAnnexId}
				]]>
			</if>
			<if test="deviceAnnexInfoId != null  and deviceAnnexInfoId != '' ">
				<![CDATA[
					or device_annex_info_id = #{deviceAnnexInfoId}
				]]>
			</if>
		</where>
	</sql>

	<!--查询条件-->
	<sql id="sql_where_and_like">
		<where>
			<if test="deviceProcessAnnexId != null  and deviceProcessAnnexId != '' ">
				<![CDATA[
					and device_process_annex_id like CONCAT('%', #{deviceProcessAnnexId}, '%')
				]]>
			</if>
			<if test="deviceAnnexInfoId != null  and deviceAnnexInfoId != '' ">
				<![CDATA[
					and device_annex_info_id like CONCAT('%', #{deviceAnnexInfoId}, '%')
				]]>
			</if>
		</where>
	</sql>

	<!--查询条件-->
	<sql id="sql_where_or_like">
		<where>
			<if test="deviceProcessAnnexId != null  and deviceProcessAnnexId != '' ">
				<![CDATA[
					or device_process_annex_id like CONCAT('%', #{deviceProcessAnnexId}, '%')
				]]>
			</if>
			<if test="deviceAnnexInfoId != null  and deviceAnnexInfoId != '' ">
				<![CDATA[
					or device_annex_info_id like CONCAT('%', #{deviceAnnexInfoId}, '%')
				]]>
			</if>
		</where>
	</sql>

	<!--更新操作-->
	<sql id="sql_update">
		<set>
			<if test="deviceProcessAnnexId != null  and deviceProcessAnnexId != '' ">
				<![CDATA[
					device_process_annex_id = #{deviceProcessAnnexId},
				]]>
			</if>
			<if test="deviceAnnexInfoId != null  and deviceAnnexInfoId != '' ">
				<![CDATA[
					device_annex_info_id = #{deviceAnnexInfoId},
				]]>
			</if>
		</set>
	</sql>
</mapper>
