<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mes.control.mapper.FtyDeviceFixtureMapper">
	<resultMap type="com.mes.entity.control.FtyDeviceFixture" id="ftyDeviceFixtureResultMap">
		<result column="id" property="id" jdbcType="VARCHAR"/>
		<result column="name" property="name" jdbcType="VARCHAR"/>
		<result column="description" property="description" jdbcType="VARCHAR"/>
		<result column="device_id" property="deviceId" jdbcType="VARCHAR"/>
		<result column="number" property="number" jdbcType="VARCHAR"/>
		<result column="use_count" property="useCount" jdbcType="INTEGER"/>
		<result column="start_time" property="startTime" jdbcType="TIMESTAMP"/>
		<result column="end_time" property="endTime" jdbcType="TIMESTAMP"/>
	</resultMap>

	<select id="findById" resultMap="ftyDeviceFixtureResultMap">
		<include refid="sql_select"/>
		where s.id = #{id}
	</select>

	<!--新增操作 -->
	<insert id="save" parameterType="com.mes.entity.control.FtyDeviceFixture">
		insert into mes_fty_device_fixture (id,name,description,device_id,number,use_count,start_time,end_time)
		values (#{id},#{name},#{description},#{deviceId},#{number},#{useCount},#{startTime},#{endTime})
	</insert>

	<!--更新操作-->
	<update id="update" parameterType="com.mes.entity.control.FtyDeviceFixture">
		update mes_fty_device_fixture s <include refid="sql_update"/> where s.id = #{id}
	</update>

	<!--根据id删除-->
	<delete id="deleteById" parameterType="java.lang.String">
		delete from mes_fty_device_fixture where id =#{id}
	</delete>

	<!--获取数据条数-->
	<select id="getCount" parameterType="java.util.Map" resultType="int">
		select count(1) from mes_fty_device_fixture t <include refid="sql_where_and_equal"/>
	</select>

	<!--分页查询-->
	<select id="findByPage" parameterType="java.util.Map" resultMap="ftyDeviceFixtureResultMap">
		<include refid="sql_select"/> <include refid="sql_where_and_equal"/> order by s.create_date desc limit #{startRowNum},#{pageSize}
	</select>

	<!--根据条件查询-->
	<select id="findByMap" parameterType="java.util.Map" resultMap="ftyDeviceFixtureResultMap">
		<include refid="sql_select"/> <include refid="sql_where_and_equal"/> order by s.create_date desc
	</select>

	<!--查询所有-->
	<select id="findAll" resultMap="ftyDeviceFixtureResultMap">
		<include refid="sql_select"/> <include refid="sql_where_and_equal"/> order by s.create_date desc
	</select>

	<!--查询字段-->
	<sql id="sql_select">
		SELECT id,name,description,device_id,number,use_count,start_time,end_time from mes_fty_device_fixture s
	</sql>

	<!--查询条件-->
	<sql id="sql_where_and_equal">
		<where>
			<if test="name != null  and name != '' ">
				<![CDATA[
					and name = #{name}
				]]>
			</if>
			<if test="description != null  and description != '' ">
				<![CDATA[
					and description = #{description}
				]]>
			</if>
			<if test="deviceId != null  and deviceId != '' ">
				<![CDATA[
					and device_id = #{deviceId}
				]]>
			</if>
			<if test="number != null  and number != '' ">
				<![CDATA[
					and number = #{number}
				]]>
			</if>
			<if test="useCount != null">
				<![CDATA[
					and use_count = #{useCount}
				]]>
			</if>
			<if test="startTime != null  and startTime != '' ">
				<![CDATA[
					and start_time = #{startTime}
				]]>
			</if>
			<if test="endTime != null  and endTime != '' ">
				<![CDATA[
					and end_time = #{endTime}
				]]>
			</if>
		</where>
	</sql>

	<!--查询条件-->
	<sql id="sql_where_or_equal">
		<where>
			<if test="name != null  and name != '' ">
				<![CDATA[
					or name = #{name}
				]]>
			</if>
			<if test="description != null  and description != '' ">
				<![CDATA[
					or description = #{description}
				]]>
			</if>
			<if test="deviceId != null  and deviceId != '' ">
				<![CDATA[
					or device_id = #{deviceId}
				]]>
			</if>
			<if test="number != null  and number != '' ">
				<![CDATA[
					or number = #{number}
				]]>
			</if>
			<if test="useCount != null">
				<![CDATA[
					or use_count = #{useCount}
				]]>
			</if>
			<if test="startTime != null  and startTime != '' ">
				<![CDATA[
					or start_time = #{startTime}
				]]>
			</if>
			<if test="endTime != null  and endTime != '' ">
				<![CDATA[
					or end_time = #{endTime}
				]]>
			</if>
		</where>
	</sql>

	<!--查询条件-->
	<sql id="sql_where_and_like">
		<where>
			<if test="name != null  and name != '' ">
				<![CDATA[
					and name like CONCAT('%', #{name}, '%')
				]]>
			</if>
			<if test="description != null  and description != '' ">
				<![CDATA[
					and description like CONCAT('%', #{description}, '%')
				]]>
			</if>
			<if test="deviceId != null  and deviceId != '' ">
				<![CDATA[
					and device_id like CONCAT('%', #{deviceId}, '%')
				]]>
			</if>
			<if test="number != null  and number != '' ">
				<![CDATA[
					and number like CONCAT('%', #{number}, '%')
				]]>
			</if>
			<if test="useCount != null">
				<![CDATA[
					and use_count like CONCAT('%', #{useCount}, '%')
				]]>
			</if>
			<if test="startTime != null  and startTime != '' ">
				<![CDATA[
					and start_time like CONCAT('%', #{startTime}, '%')
				]]>
			</if>
			<if test="endTime != null  and endTime != '' ">
				<![CDATA[
					and end_time like CONCAT('%', #{endTime}, '%')
				]]>
			</if>
		</where>
	</sql>

	<!--查询条件-->
	<sql id="sql_where_or_like">
		<where>
			<if test="name != null  and name != '' ">
				<![CDATA[
					or name like CONCAT('%', #{name}, '%')
				]]>
			</if>
			<if test="description != null  and description != '' ">
				<![CDATA[
					or description like CONCAT('%', #{description}, '%')
				]]>
			</if>
			<if test="deviceId != null  and deviceId != '' ">
				<![CDATA[
					or device_id like CONCAT('%', #{deviceId}, '%')
				]]>
			</if>
			<if test="number != null  and number != '' ">
				<![CDATA[
					or number like CONCAT('%', #{number}, '%')
				]]>
			</if>
			<if test="useCount != null">
				<![CDATA[
					or use_count like CONCAT('%', #{useCount}, '%')
				]]>
			</if>
			<if test="startTime != null  and startTime != '' ">
				<![CDATA[
					or start_time like CONCAT('%', #{startTime}, '%')
				]]>
			</if>
			<if test="endTime != null  and endTime != '' ">
				<![CDATA[
					or end_time like CONCAT('%', #{endTime}, '%')
				]]>
			</if>
		</where>
	</sql>

	<!--更新操作-->
	<sql id="sql_update">
		<set>
			<if test="name != null  and name != '' ">
				<![CDATA[
					name = #{name},
				]]>
			</if>
			<if test="description != null  and description != '' ">
				<![CDATA[
					description = #{description},
				]]>
			</if>
			<if test="deviceId != null  and deviceId != '' ">
				<![CDATA[
					device_id = #{deviceId},
				]]>
			</if>
			<if test="number != null  and number != '' ">
				<![CDATA[
					number = #{number},
				]]>
			</if>
			<if test="useCount != null">
				<![CDATA[
					use_count = #{useCount},
				]]>
			</if>
			<if test="startTime != null  and startTime != '' ">
				<![CDATA[
					start_time = #{startTime},
				]]>
			</if>
			<if test="endTime != null  and endTime != '' ">
				<![CDATA[
					end_time = #{endTime},
				]]>
			</if>
		</set>
	</sql>
</mapper>
