<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mes.control.mapper.FtyProductionLineMapper">
	<resultMap type="com.mes.entity.control.FtyProductionLine" id="ftyProductionLineResultMap">
		<result column="id" property="id" jdbcType="VARCHAR"/>
		<result column="area_id" property="areaId" jdbcType="VARCHAR"/>
		<result column="name" property="name" jdbcType="VARCHAR"/>
		<result column="code" property="code" jdbcType="VARCHAR"/>
		<result column="production_line_id" property="productionLineId" jdbcType="VARCHAR"/>
		<result column="category" property="category" jdbcType="VARCHAR"/>
		<result column="capacity" property="capacity" jdbcType="INTEGER"/>
		<result column="description" property="description" jdbcType="VARCHAR"/>
		<result column="priority" property="priority" jdbcType="INTEGER"/>
		<result column="location" property="location" jdbcType="VARCHAR"/>
		<result column="code" property="code" jdbcType="VARCHAR"/>
		<result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
		<result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
	</resultMap>

	<select id="findById" resultMap="ftyProductionLineResultMap">
		<include refid="sql_select"/>
		where s.id = #{id}
	</select>

	<!--新增操作 -->
	<insert id="save" parameterType="com.mes.entity.control.FtyProductionLine">
		insert into mes_fty_production_line (id,area_id,name,code,category,capacity,description,priority,location,create_date,update_date)
		values (#{id},#{areaId},#{name},#{code},#{category},#{capacity},#{description},#{priority},#{location},#{createDate},#{updateDate})
	</insert>

	<!--更新操作-->
	<update id="update" parameterType="com.mes.entity.control.FtyProductionLine">
		update mes_fty_production_line s <include refid="sql_update"/> where s.id = #{id}
	</update>

	<!--根据id删除-->
	<delete id="deleteById" parameterType="java.lang.String">
		delete from mes_fty_production_line where id =#{id}
	</delete>

	<!--获取数据条数-->
	<select id="getCount" parameterType="java.util.Map" resultType="int">
		select count(1) from mes_fty_production_line t <include refid="sql_where_and_equal"/>
	</select>

	<select id="countUsage" parameterType="java.lang.String" resultType="int">
		select count(1) from mes_fty_work_center fw where fw.production_line_id =#{productionLineId}
	</select>

	<!--分页查询-->
	<select id="findByPage" parameterType="java.util.Map" resultMap="ftyProductionLineResultMap">
		<include refid="sql_select"/> <include refid="sql_where_and_equal"/> order by s.create_date desc limit #{startRowNum},#{pageSize}
	</select>

	<!--根据条件查询-->
	<select id="findByMap" parameterType="java.util.Map" resultMap="ftyProductionLineResultMap">
		<include refid="sql_select"/> <include refid="sql_where_and_equal"/> order by s.create_date desc
	</select>

	<!--查询所有-->
	<select id="findAll" resultMap="ftyProductionLineResultMap">
		<include refid="sql_select"/> <include refid="sql_where_and_equal"/> order by s.create_date desc
	</select>

	<!--查询字段-->
	<sql id="sql_select">
		SELECT id,area_id,name,code,category,capacity,description,priority,location,create_date,update_date from mes_fty_production_line s
	</sql>

	<!--查询条件-->
	<sql id="sql_where_and_equal">
		<where>
			1 = 1
			<if test="search != null and search != '' ">
				and (
				name like CONCAT('%', #{search}, '%')
				code like CONCAT('%', #{search}, '%')
				or location like CONCAT('%', #{search}, '%')
				or code like CONCAT('%', #{search}, '%')
				)
			</if>
			<if test="areaId != null  and areaId != '' ">
				<![CDATA[
					and area_id = #{areaId}
				]]>
			</if>
			<if test="name != null  and name != '' ">
				<![CDATA[
					and name = #{name}
				]]>
			</if>
			<if test="code != null  and code != '' ">
				<![CDATA[
					and code = #{code}
				]]>
			</if>
			<if test="category != null  and category != '' ">
				<![CDATA[
					and category = #{category}
				]]>
			</if>
			<if test="capacity != null">
				<![CDATA[
					and capacity = #{capacity}
				]]>
			</if>
			<if test="description != null  and description != '' ">
				<![CDATA[
					and description = #{description}
				]]>
			</if>
			<if test="priority != null">
				<![CDATA[
					and priority = #{priority}
				]]>
			</if>
			<if test="location != null  and location != '' ">
				<![CDATA[
					and location = #{location}
				]]>
			</if>
			<if test="createDate != null  and createDate != '' ">
				<![CDATA[
					and create_date = #{createDate}
				]]>
			</if>
			<if test="updateDate != null  and updateDate != '' ">
				<![CDATA[
					and update_date = #{updateDate}
				]]>
			</if>
		</where>
	</sql>

	<!--查询条件-->
	<sql id="sql_where_or_equal">
		<where>
			1=1
			<if test="areaId != null  and areaId != '' ">
				<![CDATA[
					or area_id = #{areaId}
				]]>
			</if>
			<if test="name != null  and name != '' ">
				<![CDATA[
					or name = #{name}
				]]>
			</if>
			<if test="code != null  and code != '' ">
				<![CDATA[
					or code = #{code}
				]]>
			</if>
			<if test="category != null  and category != '' ">
				<![CDATA[
					or category = #{category}
				]]>
			</if>
			<if test="capacity != null">
				<![CDATA[
					or capacity = #{capacity}
				]]>
			</if>
			<if test="description != null  and description != '' ">
				<![CDATA[
					or description = #{description}
				]]>
			</if>
			<if test="priority != null">
				<![CDATA[
					or priority = #{priority}
				]]>
			</if>
			<if test="location != null  and location != '' ">
				<![CDATA[
					or location = #{location}
				]]>
			</if>
			<if test="createDate != null  and createDate != '' ">
				<![CDATA[
					or create_date = #{createDate}
				]]>
			</if>
			<if test="updateDate != null  and updateDate != '' ">
				<![CDATA[
					or update_date = #{updateDate}
				]]>
			</if>
		</where>
	</sql>

	<!--查询条件-->
	<sql id="sql_where_and_like">
		<where>
			1=1
			<if test="areaId != null  and areaId != '' ">
				<![CDATA[
					and area_id like CONCAT('%', #{areaId}, '%')
				]]>
			</if>
			<if test="name != null  and name != '' ">
				<![CDATA[
					and name like CONCAT('%', #{name}, '%')
				]]>
			</if>
			<if test="code != null  and code != '' ">
				<![CDATA[
					and code like CONCAT('%', #{code}, '%')
				]]>
			</if>
			<if test="category != null  and category != '' ">
				<![CDATA[
					and category like CONCAT('%', #{category}, '%')
				]]>
			</if>
			<if test="capacity != null">
				<![CDATA[
					and capacity like CONCAT('%', #{capacity}, '%')
				]]>
			</if>
			<if test="description != null  and description != '' ">
				<![CDATA[
					and description like CONCAT('%', #{description}, '%')
				]]>
			</if>
			<if test="priority != null">
				<![CDATA[
					and priority like CONCAT('%', #{priority}, '%')
				]]>
			</if>
			<if test="location != null  and location != '' ">
				<![CDATA[
					and location like CONCAT('%', #{location}, '%')
				]]>
			</if>
			<if test="createDate != null  and createDate != '' ">
				<![CDATA[
					and create_date like CONCAT('%', #{createDate}, '%')
				]]>
			</if>
			<if test="updateDate != null  and updateDate != '' ">
				<![CDATA[
					and update_date like CONCAT('%', #{updateDate}, '%')
				]]>
			</if>
		</where>
	</sql>

	<!--查询条件-->
	<sql id="sql_where_or_like">
		<where>
			1=1
			<if test="areaId != null  and areaId != '' ">
				<![CDATA[
					or area_id like CONCAT('%', #{areaId}, '%')
				]]>
			</if>
			<if test="name != null  and name != '' ">
				<![CDATA[
					or name like CONCAT('%', #{name}, '%')
				]]>
			</if>
			<if test="code != null  and code != '' ">
				<![CDATA[
					or code like CONCAT('%', #{code}, '%')
				]]>
			</if>
			<if test="category != null  and category != '' ">
				<![CDATA[
					or category like CONCAT('%', #{category}, '%')
				]]>
			</if>
			<if test="capacity != null">
				<![CDATA[
					or capacity like CONCAT('%', #{capacity}, '%')
				]]>
			</if>
			<if test="description != null  and description != '' ">
				<![CDATA[
					or description like CONCAT('%', #{description}, '%')
				]]>
			</if>
			<if test="priority != null">
				<![CDATA[
					or priority like CONCAT('%', #{priority}, '%')
				]]>
			</if>
			<if test="location != null  and location != '' ">
				<![CDATA[
					or location like CONCAT('%', #{location}, '%')
				]]>
			</if>
			<if test="createDate != null  and createDate != '' ">
				<![CDATA[
					or create_date like CONCAT('%', #{createDate}, '%')
				]]>
			</if>
			<if test="updateDate != null  and updateDate != '' ">
				<![CDATA[
					or update_date like CONCAT('%', #{updateDate}, '%')
				]]>
			</if>
		</where>
	</sql>

	<!--更新操作-->
	<sql id="sql_update">
		<set>
			<if test="areaId != null  and areaId != '' ">
				<![CDATA[
					area_id = #{areaId},
				]]>
			</if>
			<if test="name != null  and name != '' ">
				<![CDATA[
					name = #{name},
				]]>
			</if>
			<if test="code != null  and code != '' ">
				<![CDATA[
					code = #{code},
				]]>
			</if>
			<if test="category != null  and category != '' ">
				<![CDATA[
					category = #{category},
				]]>
			</if>
			<if test="capacity != null">
				<![CDATA[
					capacity = #{capacity},
				]]>
			</if>
			<if test="description != null  and description != '' ">
				<![CDATA[
					description = #{description},
				]]>
			</if>
			<if test="priority != null">
				<![CDATA[
					priority = #{priority},
				]]>
			</if>
			<if test="location != null  and location != '' ">
				<![CDATA[
					location = #{location},
				]]>
			</if>
			<if test="createDate != null  and createDate != '' ">
				<![CDATA[
					create_date = #{createDate},
				]]>
			</if>
			<if test="updateDate != null  and updateDate != '' ">
				<![CDATA[
					update_date = #{updateDate},
				]]>
			</if>
		</set>
	</sql>
</mapper>
