<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 产品管理-产品条码 -->
<mapper namespace="com.mes.control.mapper.PdProductBarCodeMapper">
    <resultMap type="com.mes.entity.control.PdProductBarCode" id="pdProductBarCodeResultMap">

        <result column="id" property="id" jdbcType="VARCHAR"/>

        <result column="bar_code_id" property="barCodeId" jdbcType="VARCHAR"/>

        <result column="pd_id" property="pdId" jdbcType="VARCHAR"/>

        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>

        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>

        <result column="bar_code_name" property="barCodeName" jdbcType="VARCHAR"/>

    </resultMap>

    <!--根据id查询-->
    <select id="findById" resultMap="pdProductBarCodeResultMap">
        <include refid="sql_select"/>
        where s.id = #{id}
    </select>
    <!--根据pd_id删除-->
    <delete id="deleteAll" parameterType="java.lang.String">
        delete from mes_pd_product_bar_code where pd_id=#{value}
    </delete>

    <!--新增操作 -->
    <insert id="save" parameterType="com.mes.entity.control.PdProductBarCode">
        insert into mes_pd_product_bar_code
        (`id`,`bar_code_id`,`pd_id`,`create_date`,`update_date`,`bar_code_name`)
        values
        (#{id},#{barCodeId},#{pdId},#{createDate},#{updateDate},#{barCodeName})
    </insert>

    <!--更新操作-->
    <update id="update" parameterType="com.mes.entity.control.PdProductBarCode">
        update mes_pd_product_bar_code s
        <include refid="sql_update"/>
        where s.id = #{id}
    </update>

    <!--根据id删除-->
    <delete id="deleteById" parameterType="java.lang.String">
        delete from mes_pd_product_bar_code where id =#{id}
    </delete>

    <!--获取数据条数-->
    <select id="getCount" parameterType="java.util.Map" resultType="int">
        select count(1) from mes_pd_product_bar_code t
        <include refid="sql_where_and_equal"/>
    </select>

    <!--分页查询记录-->
    <select id="findByPage" parameterType="java.util.Map" resultMap="pdProductBarCodeResultMap">
        <include refid="sql_select"/>
        <include refid="sql_where_and_equal"/>
        order by s.create_date desc
        limit #{startRowNum},#{pageSize}
    </select>

    <!--根据条件查询-->
    <select id="findByMap" parameterType="java.util.Map" resultMap="pdProductBarCodeResultMap">
        <include refid="sql_select"/>
        <include refid="sql_where_and_equal"/>
        order by s.create_date desc
    </select>

    <!--查询所有-->
    <select id="findAll" resultMap="pdProductBarCodeResultMap">
        <include refid="sql_select"/>
        <include refid="sql_where_and_equal"/>
        order by s.create_date desc
    </select>

    <!--查询字段-->
    <sql id="sql_select">
        SELECT `id`,`bar_code_id`,`pd_id`,`create_date`,`update_date`,`bar_code_name` from mes_pd_product_bar_code s
    </sql>

    <!--查询条件-->
    <sql id="sql_where_and_equal">
        <where>
            <if test="search != null and search != '' ">
                and (
                `id` like CONCAT('%', #{search}, '%')
                or `bar_code_id` like CONCAT('%', #{search}, '%')
                or `pd_id` like CONCAT('%', #{search}, '%')
                or `create_date` like CONCAT('%', #{search}, '%')
                or `update_date` like CONCAT('%', #{search}, '%')
                or `bar_code_name` like CONCAT('%', #{search}, '%')
                )
            </if>

            <if test="id != null  and id != '' ">
                <![CDATA[
                and `id` = #{id}
            ]]>
            </if>

            <if test="barCodeId != null  and barCodeId != '' ">
                <![CDATA[
                and `bar_code_id` = #{barCodeId}
            ]]>
            </if>

            <if test="pdId != null  and pdId != '' ">
                <![CDATA[
                and `pd_id` = #{pdId}
            ]]>
            </if>

            <if test="createDate != null  and createDate != '' ">
                <![CDATA[
                and `create_date` = #{createDate}
            ]]>
            </if>

            <if test="updateDate != null  and updateDate != '' ">
                <![CDATA[
                and `update_date` = #{updateDate}
            ]]>
            </if>

            <if test="barCodeName != null  and barCodeName != '' ">
                <![CDATA[
                and `bar_code_name` = #{barCodeName}
            ]]>
            </if>

        </where>
    </sql>

    <!--查询条件-->
    <sql id="sql_where_or_equal">
        <where>
            <if test="search != null and search != '' ">
                or (
                `id` like CONCAT('%', #{search}, '%')
                or `bar_code_id` like CONCAT('%', #{search}, '%')
                or `pd_id` like CONCAT('%', #{search}, '%')
                or `create_date` like CONCAT('%', #{search}, '%')
                or `update_date` like CONCAT('%', #{search}, '%')
                or `bar_code_name` like CONCAT('%', #{search}, '%')
                )
            </if>

            <if test="id != null  and id != '' ">
                <![CDATA[
                or `id` = #{id}
            ]]>
            </if>

            <if test="barCodeId != null  and barCodeId != '' ">
                <![CDATA[
                or `bar_code_id` = #{barCodeId}
            ]]>
            </if>

            <if test="pdId != null  and pdId != '' ">
                <![CDATA[
                or `pd_id` = #{pdId}
            ]]>
            </if>

            <if test="createDate != null  and createDate != '' ">
                <![CDATA[
                or `create_date` = #{createDate}
            ]]>
            </if>

            <if test="updateDate != null  and updateDate != '' ">
                <![CDATA[
                or `update_date` = #{updateDate}
            ]]>
            </if>

            <if test="barCodeName != null  and barCodeName != '' ">
                <![CDATA[
                or `bar_code_name` = #{barCodeName}
            ]]>
            </if>

        </where>
    </sql>

    <!--查询条件-->
    <sql id="sql_where_and_like">
        <where>
            <if test="search != null and search != '' ">
                and (
                `id` like CONCAT('%', #{search}, '%')
                or `bar_code_id` like CONCAT('%', #{search}, '%')
                or `pd_id` like CONCAT('%', #{search}, '%')
                or `create_date` like CONCAT('%', #{search}, '%')
                or `update_date` like CONCAT('%', #{search}, '%')
                or `bar_code_name` like CONCAT('%', #{search}, '%')
                )
            </if>

            <if test="id != null  and id != '' ">
                <![CDATA[
                and `id` like CONCAT('%', #{id}, '%')
            ]]>
            </if>

            <if test="barCodeId != null  and barCodeId != '' ">
                <![CDATA[
                and `bar_code_id` like CONCAT('%', #{barCodeId}, '%')
            ]]>
            </if>

            <if test="pdId != null  and pdId != '' ">
                <![CDATA[
                and `pd_id` like CONCAT('%', #{pdId}, '%')
            ]]>
            </if>

            <if test="createDate != null  and createDate != '' ">
                <![CDATA[
                and `create_date` like CONCAT('%', #{createDate}, '%')
            ]]>
            </if>

            <if test="updateDate != null  and updateDate != '' ">
                <![CDATA[
                and `update_date` like CONCAT('%', #{updateDate}, '%')
            ]]>
            </if>

            <if test="barCodeName != null  and barCodeName != '' ">
                <![CDATA[
                and `bar_code_name` like CONCAT('%', #{barCodeName}, '%')
            ]]>
            </if>

        </where>
    </sql>

    <!--查询条件-->
    <sql id="sql_where_or_like">
        <where>
            <if test="search != null and search != '' ">
                or (
                `id` like CONCAT('%', #{search}, '%')
                or `bar_code_id` like CONCAT('%', #{search}, '%')
                or `pd_id` like CONCAT('%', #{search}, '%')
                or `create_date` like CONCAT('%', #{search}, '%')
                or `update_date` like CONCAT('%', #{search}, '%')
                or `bar_code_name` like CONCAT('%', #{search}, '%')
                )
            </if>

            <if test="id != null  and id != '' ">
                <![CDATA[
                or `id` like CONCAT('%', #{id}, '%')
            ]]>
            </if>

            <if test="barCodeId != null  and barCodeId != '' ">
                <![CDATA[
                or `bar_code_id` like CONCAT('%', #{barCodeId}, '%')
            ]]>
            </if>

            <if test="pdId != null  and pdId != '' ">
                <![CDATA[
                or `pd_id` like CONCAT('%', #{pdId}, '%')
            ]]>
            </if>

            <if test="createDate != null  and createDate != '' ">
                <![CDATA[
                or `create_date` like CONCAT('%', #{createDate}, '%')
            ]]>
            </if>

            <if test="updateDate != null  and updateDate != '' ">
                <![CDATA[
                or `update_date` like CONCAT('%', #{updateDate}, '%')
            ]]>
            </if>

            <if test="barCodeName != null  and barCodeName != '' ">
                <![CDATA[
                or `bar_code_name` like CONCAT('%', #{barCodeName}, '%')
            ]]>
            </if>

        </where>
    </sql>

    <!--更新操作-->
    <sql id="sql_update">
        <set>

            <if test="id != null  and id != '' ">
                <![CDATA[
                `id` = #{id},
            ]]>
            </if>

            <if test="barCodeId != null  and barCodeId != '' ">
                <![CDATA[
                `bar_code_id` = #{barCodeId},
            ]]>
            </if>

            <if test="pdId != null  and pdId != '' ">
                <![CDATA[
                `pd_id` = #{pdId},
            ]]>
            </if>

            <if test="createDate != null  and createDate != '' ">
                <![CDATA[
                `create_date` = #{createDate},
            ]]>
            </if>

            <if test="updateDate != null  and updateDate != '' ">
                <![CDATA[
                `update_date` = #{updateDate},
            ]]>
            </if>

            <if test="barCodeName != null  and barCodeName != '' ">
                <![CDATA[
                `bar_code_name` = #{barCodeName},
            ]]>
            </if>

        </set>
    </sql>
</mapper>
