<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 产品管理-班次类型 -->
<mapper namespace="com.mes.control.mapper.PdSchedulingTypeMapper">
	<resultMap type="com.mes.entity.control.PdSchedulingType" id="pdSchedulingTypeResultMap">
		<result column="id" property="id" jdbcType="VARCHAR"/>
		<result column="name" property="name" jdbcType="VARCHAR"/>
		<result column="code" property="code" jdbcType="VARCHAR"/>
		<result column="start_time" property="startTime" jdbcType="TIME"/>
		<result column="end_time" property="endTime" jdbcType="TIME"/>
		<result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
	</resultMap>

	<select id="findById" resultMap="pdSchedulingTypeResultMap">
		<include refid="sql_select"/>
		where s.id = #{id}
	</select>

	<!--新增操作 -->
	<insert id="save" parameterType="com.mes.entity.control.PdSchedulingType">
		insert into mes_pd_scheduling_type (id,name,code,start_time,end_time,create_date)
		values (#{id},#{name},#{code},#{startTime},#{endTime},#{createDate})
	</insert>

	<!--更新操作-->
	<update id="update" parameterType="com.mes.entity.control.PdSchedulingType">
		update mes_pd_scheduling_type s <include refid="sql_update"/> where s.id = #{id}
	</update>

	<!--根据id删除-->
	<delete id="deleteById" parameterType="java.lang.String">
		delete from mes_pd_scheduling_type where id =#{id}
	</delete>

	<!--获取数据条数-->
	<select id="getCount" parameterType="java.util.Map" resultType="int">
		select count(1) from mes_pd_scheduling_type t <include refid="sql_where_and_equal"/>
	</select>

	<!--分页查询-->
	<select id="findByPage" parameterType="java.util.Map" resultMap="pdSchedulingTypeResultMap">
		<include refid="sql_select"/> <include refid="sql_where_and_equal"/> order by s.create_date desc limit #{startRowNum},#{pageSize}
	</select>

	<!--根据条件查询-->
	<select id="findByMap" parameterType="java.util.Map" resultMap="pdSchedulingTypeResultMap">
		<include refid="sql_select"/> <include refid="sql_where_and_equal"/> order by s.create_date desc
	</select>

	<!--查询所有-->
	<select id="findAll" resultMap="pdSchedulingTypeResultMap">
		<include refid="sql_select"/> <include refid="sql_where_and_equal"/> order by s.create_date desc
	</select>

	<!--查询字段-->
	<sql id="sql_select">
		SELECT id,name,code,start_time,end_time,create_date from mes_pd_scheduling_type s
	</sql>

	<!--查询条件-->
	<sql id="sql_where_and_equal">
		<where>
			<if test="search != null and search != '' ">
				and (
				name like CONCAT('%', #{search}, '%')
				)
			</if>
			<if test="name != null  and name != '' ">
				<![CDATA[
					and name = #{name}
				]]>
			</if>
			<if test="code != null  and code != '' ">
				<![CDATA[
					and code = #{code}
				]]>
			</if>
			<if test="startTime != null  and startTime != '' ">
				<![CDATA[
					and start_time = #{startTime}
				]]>
			</if>
			<if test="endTime != null  and endTime != '' ">
				<![CDATA[
					and end_time = #{endTime}
				]]>
			</if>
			<if test="createDate != null  and createDate != '' ">
				<![CDATA[
					and create_date = #{createDate}
				]]>
			</if>
		</where>
	</sql>

	<!--查询条件-->
	<sql id="sql_where_or_equal">
		<where>
			<if test="name != null  and name != '' ">
				<![CDATA[
					or name = #{name}
				]]>
			</if>
			<if test="code != null  and code != '' ">
				<![CDATA[
					or code = #{code}
				]]>
			</if>
			<if test="startTime != null  and startTime != '' ">
				<![CDATA[
					or start_time = #{startTime}
				]]>
			</if>
			<if test="endTime != null  and endTime != '' ">
				<![CDATA[
					or end_time = #{endTime}
				]]>
			</if>
			<if test="createDate != null  and createDate != '' ">
				<![CDATA[
					or create_date = #{createDate}
				]]>
			</if>
		</where>
	</sql>

	<!--查询条件-->
	<sql id="sql_where_and_like">
		<where>
			<if test="name != null  and name != '' ">
				<![CDATA[
					and name like CONCAT('%', #{name}, '%')
				]]>
			</if>
			<if test="code != null  and code != '' ">
				<![CDATA[
					and code like CONCAT('%', #{code}, '%')
				]]>
			</if>
			<if test="startTime != null  and startTime != '' ">
				<![CDATA[
					and start_time like CONCAT('%', #{startTime}, '%')
				]]>
			</if>
			<if test="endTime != null  and endTime != '' ">
				<![CDATA[
					and end_time like CONCAT('%', #{endTime}, '%')
				]]>
			</if>
			<if test="createDate != null  and createDate != '' ">
				<![CDATA[
					and create_date like CONCAT('%', #{createDate}, '%')
				]]>
			</if>
		</where>
	</sql>

	<!--查询条件-->
	<sql id="sql_where_or_like">
		<where>
			<if test="name != null  and name != '' ">
				<![CDATA[
					or name like CONCAT('%', #{name}, '%')
				]]>
			</if>
			<if test="code != null  and code != '' ">
				<![CDATA[
					or code like CONCAT('%', #{code}, '%')
				]]>
			</if>
			<if test="startTime != null  and startTime != '' ">
				<![CDATA[
					or start_time like CONCAT('%', #{startTime}, '%')
				]]>
			</if>
			<if test="endTime != null  and endTime != '' ">
				<![CDATA[
					or end_time like CONCAT('%', #{endTime}, '%')
				]]>
			</if>
			<if test="createDate != null  and createDate != '' ">
				<![CDATA[
					or create_date like CONCAT('%', #{createDate}, '%')
				]]>
			</if>
		</where>
	</sql>

	<!--更新操作-->
	<sql id="sql_update">
		<set>
			<if test="name != null  and name != '' ">
				<![CDATA[
					name = #{name},
				]]>
			</if>
			<if test="code != null  and code != '' ">
				<![CDATA[
					code = #{code},
				]]>
			</if>
			<if test="startTime != null  and startTime != '' ">
				<![CDATA[
					start_time = #{startTime},
				]]>
			</if>
			<if test="endTime != null  and endTime != '' ">
				<![CDATA[
					end_time = #{endTime},
				]]>
			</if>
			<if test="createDate != null  and createDate != '' ">
				<![CDATA[
					create_date = #{createDate},
				]]>
			</if>
		</set>
	</sql>
</mapper>
