<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 终端测试项设备状态 -->
<mapper namespace="com.mes.control.mapper.PdWorkTestDeviceTbMapper">
    <resultMap type="com.mes.entity.control.PdWorkTestDeviceTb" id="pdWorkTestDeviceTbResultMap">
        
        <result column="work_test_id" property="workTestId" jdbcType="VARCHAR"/>
        
        <result column="device_id" property="deviceId" jdbcType="VARCHAR"/>
        
        <result column="device_data" property="deviceData" jdbcType="VARCHAR"/>
        
        <result column="test_result" property="testResult" jdbcType="VARCHAR"/>
        
    </resultMap>

    <!--根据id查询-->
    <select id="findById"  resultMap="pdWorkTestDeviceTbResultMap">
        <include refid="sql_select"/>
        where s.id = #{id}
    </select>

    <!--新增操作 -->
    <insert id="save" parameterType="com.mes.entity.control.PdWorkTestDeviceTb">
        insert into mes_pd_work_test_device_tb
        (`work_test_id`,`device_id`,`device_data`,`test_result`)
        values
        (#{workTestId},#{deviceId},#{deviceData},#{testResult})
    </insert>

    <!--更新操作-->
    <update id="update" parameterType="com.mes.entity.control.PdWorkTestDeviceTb">
        update mes_pd_work_test_device_tb s
        <include refid="sql_update"/>
        where s.id = #{id}
    </update>

    <!--根据id删除-->
    <delete id="deleteById" parameterType="java.lang.String">
        delete from mes_pd_work_test_device_tb where id =#{id}
    </delete>

    <!--获取数据条数-->
    <select id="getCount" parameterType="java.util.Map" resultType="int">
        select count(1) from mes_pd_work_test_device_tb t
        <include refid="sql_where_and_equal"/>
    </select>

    <!--分页查询记录-->
    <select id="findByPage"  parameterType="java.util.Map" resultMap="pdWorkTestDeviceTbResultMap">
        <include refid="sql_select"/>
        <include refid="sql_where_and_equal"/>
        order by s.create_date desc
        limit #{startRowNum},#{pageSize}
    </select>

    <!--根据条件查询-->
    <select id="findByMap"  parameterType="java.util.Map" resultMap="pdWorkTestDeviceTbResultMap">
        <include refid="sql_select"/>
        <include refid="sql_where_and_equal"/>
        order by s.create_date desc
    </select>

    <!--查询所有-->
    <select id="findAll"  resultMap="pdWorkTestDeviceTbResultMap">
        <include refid="sql_select"/>
        <include refid="sql_where_and_equal"/>
        order by s.create_date desc
    </select>

    <!--查询字段-->
    <sql id="sql_select">
        SELECT `work_test_id`,`device_id`,`device_data`,`test_result` from mes_pd_work_test_device_tb  s
    </sql>

        <!--查询条件-->
    <sql id="sql_where_and_equal">
        <where>
            <if test="search != null and search != '' ">
                and (
                `work_test_id` like CONCAT('%', #{search}, '%')
				or `device_id` like CONCAT('%', #{search}, '%')
				or `device_data` like CONCAT('%', #{search}, '%')
				or `test_result` like CONCAT('%', #{search}, '%')
                )
            </if>
            
            <if test="workTestId != null  and workTestId != '' ">
            <![CDATA[
                and `work_test_id` = #{workTestId}
            ]]>
            </if>
            
            <if test="deviceId != null  and deviceId != '' ">
            <![CDATA[
                and `device_id` = #{deviceId}
            ]]>
            </if>
            
            <if test="deviceData != null  and deviceData != '' ">
            <![CDATA[
                and `device_data` = #{deviceData}
            ]]>
            </if>
            
            <if test="testResult != null  and testResult != '' ">
            <![CDATA[
                and `test_result` = #{testResult}
            ]]>
            </if>
            
        </where>
    </sql>

    <!--查询条件-->
    <sql id="sql_where_or_equal">
        <where>
            <if test="search != null and search != '' ">
                or (
                `work_test_id` like CONCAT('%', #{search}, '%')
				or `device_id` like CONCAT('%', #{search}, '%')
				or `device_data` like CONCAT('%', #{search}, '%')
				or `test_result` like CONCAT('%', #{search}, '%')
                )
            </if>
            
            <if test="workTestId != null  and workTestId != '' ">
            <![CDATA[
                or `work_test_id` = #{workTestId}
            ]]>
            </if>
            
            <if test="deviceId != null  and deviceId != '' ">
            <![CDATA[
                or `device_id` = #{deviceId}
            ]]>
            </if>
            
            <if test="deviceData != null  and deviceData != '' ">
            <![CDATA[
                or `device_data` = #{deviceData}
            ]]>
            </if>
            
            <if test="testResult != null  and testResult != '' ">
            <![CDATA[
                or `test_result` = #{testResult}
            ]]>
            </if>
            
        </where>
    </sql>

    <!--查询条件-->
    <sql id="sql_where_and_like">
        <where>
            <if test="search != null and search != '' ">
                and (
                `work_test_id` like CONCAT('%', #{search}, '%')
				or `device_id` like CONCAT('%', #{search}, '%')
				or `device_data` like CONCAT('%', #{search}, '%')
				or `test_result` like CONCAT('%', #{search}, '%')
                )
            </if>
            
            <if test="workTestId != null  and workTestId != '' ">
            <![CDATA[
                and `work_test_id` CONCAT('%', #{workTestId}, '%')
            ]]>
            </if>
            
            <if test="deviceId != null  and deviceId != '' ">
            <![CDATA[
                and `device_id` CONCAT('%', #{deviceId}, '%')
            ]]>
            </if>
            
            <if test="deviceData != null  and deviceData != '' ">
            <![CDATA[
                and `device_data` CONCAT('%', #{deviceData}, '%')
            ]]>
            </if>
            
            <if test="testResult != null  and testResult != '' ">
            <![CDATA[
                and `test_result` CONCAT('%', #{testResult}, '%')
            ]]>
            </if>
            
        </where>
    </sql>

    <!--查询条件-->
    <sql id="sql_where_or_like">
        <where>
            <if test="search != null and search != '' ">
                or (
                `work_test_id` like CONCAT('%', #{search}, '%')
				or `device_id` like CONCAT('%', #{search}, '%')
				or `device_data` like CONCAT('%', #{search}, '%')
				or `test_result` like CONCAT('%', #{search}, '%')
                )
            </if>
            
            <if test="workTestId != null  and workTestId != '' ">
            <![CDATA[
                or `work_test_id` CONCAT('%', #{workTestId}, '%')
            ]]>
            </if>
            
            <if test="deviceId != null  and deviceId != '' ">
            <![CDATA[
                or `device_id` CONCAT('%', #{deviceId}, '%')
            ]]>
            </if>
            
            <if test="deviceData != null  and deviceData != '' ">
            <![CDATA[
                or `device_data` CONCAT('%', #{deviceData}, '%')
            ]]>
            </if>
            
            <if test="testResult != null  and testResult != '' ">
            <![CDATA[
                or `test_result` CONCAT('%', #{testResult}, '%')
            ]]>
            </if>
            
        </where>
    </sql>

    <!--更新操作-->
    <sql id="sql_update">
        <set>
            
            <if test="workTestId != null  and workTestId != '' ">
            <![CDATA[
                `work_test_id` = #{workTestId},
            ]]>
            </if>
            
            <if test="deviceId != null  and deviceId != '' ">
            <![CDATA[
                `device_id` = #{deviceId},
            ]]>
            </if>
            
            <if test="deviceData != null  and deviceData != '' ">
            <![CDATA[
                `device_data` = #{deviceData},
            ]]>
            </if>
            
            <if test="testResult != null  and testResult != '' ">
            <![CDATA[
                `test_result` = #{testResult},
            ]]>
            </if>
            
        </set>
    </sql>
</mapper>
